<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Documentation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/skuse-ui@0/dist/style.css">
    <style>html, body, #skuse-ui { height: 100%; margin: 0; }</style>
</head>
<body>
    <div id="skuse-ui"></div>
    <script src="https://cdn.jsdelivr.net/npm/skuse-ui@0/dist/skuse-ui.iife.js"></script>
    <script>
        SkuseUI.mount('#skuse-ui', {
            openApiUrl: '{{ open_api_url|escape('js') }}',
            theme: '{{ theme|escape('js') }}'
        });
    </script>
</body>
</html>
